/.venv
/Ancient Den.png
/Angel of the Ruins.png
/Austere Command.png
/Basalt Monolith.png
/Bronze Guardian.png
/Buried Ruin.png
/Cataclysmic Gearhulk.png
/Cauldron of Souls.png
/Chromatic Star.png
/Codex Shredder.png
/Colossus of Akros.png
/Crown of Empires.png
/Crush Contraband.png
/Darksteel Citadel.png
/Digsite Engineer.png
/Dispatch.png
/Dross Scorpion.png
/Elixir of Immortality.png
/Empowered Autogenerator.png
/Endless Atlas.png
/Everflowing Chalice.png
/Eye of Vecna.png
/Foundry Inspector.png
/Generous Gift.png
/Ghost Quarter.png
/Ichor Wellspring.png
/Implement of Improvement.png
/Jandor's Saddlebags.png
/Jhoira's Familiar.png
/Junk Diver.png
/Liquimetal Torque.png
/Losheel, Clockwork Scholar.png
/Mind Stone.png
/Mirrorworks.png
/Mycosynth Wellspring.png
/Myr Retriever.png
/Myr Welder.png
/Open the Vaults.png
/Origin Spellbomb.png
/Oswald Fiddlebender.png
/Pentavus.png
/Plains.png
/Portable Hole.png
/Power Depot.png
/Prismatic Lens.png
/Prophetic Prism.png
/Puppet Strings.png
/Rings of Brighthearth.png
/Sanctum Gargoyle.png
/Scarecrone.png
/Scepter of Empires.png
/Scrap Trawler.png
/Servo Schematic.png
/Shimmer Myr.png
/Sol Ring.png
/Solemn Simulacrum.png
/Staff of Domination.png
/Staff of Nin.png
/Steel Hellkite.png
/Sun Titan.png
/Swiftfoot Boots.png
/Swords to Plowshares.png
/Terrarion.png
/Teshar, Ancestor's Apostle.png
/Thopter Squadron.png
/Throne of Empires.png
/Tormod's Crypt.png
/Triskelion.png
/Ugin's Nexus.png
/Voltaic Key.png
/Workshop Assistant.png
/mtg_cards.pdf